/* Add application styles & imports to this file! */
nav a {
  display: inline-block;
  width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: centeR;
  color: white;
  text-decoration: none;
}
nav {
  background-color: black;
  text-align: center;
}
nav a:hover{
  background-color: white;
  color: black;
}